*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.dashboardGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.summaryCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}